.dashboard {
    -fx-background-color: whitesmoke;
}

.user_name{
    /*-fx-font-weight: bold;*/
    -fx-font-family: Calibri;
    -fx-font-size: 30px;
}

.date_lbl{
    -fx-text-fill: #a9a1a1;
    -fx-font-size: 1em;
    -fx-font-family: "Calibri Light";
}

.section_title{
    -fx-font-size: 1.4em;
    -fx-font-family: "Caslon";
    -fx-font-weight: bold;
}
/*Account section*/
.account_view{
    -fx-background-color: #fcfcfc;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 0 1 0 0;
    -fx-alignment:center ;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
}

.account{
    -fx-background-color: #fcfcfc;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}

.account:hover{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-background-color: #003161;
}

.account VBox{
    -fx-background-color: #FFFFFF;
}

.account_Text{
    -fx-fill: white;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account_gradient{
    -fx-background-color: linear-gradient(to right,  #132A13, #253F25);
}

.account_balance{
    -fx-text-fill: white;
    -font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}


.account_number{
    -fx-text-fill: white;
    -font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.acc_summary_container {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment:center_left;
    -fx-border-radius: 10;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-style: dashed;
}
.acc_summary_container Text{
    -fx-font-size: 1.2em;
}

.acc_summary_container Line{
    -fx-stroke: #AAA;
}

.income_amount{
    -fx-text-fill: #0A0;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
}


.expense_amount{
    -fx-text-fill: #a90c0c;
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri Light";
}

/*transaction*/

.transaction_listview{
    -fx-background-color: #EEE;
    -fx-border-width:  0 0 0 0;
    -fx-border-color: #AAA;
}

.transaction_listview .scroll-bar:vertical{
    -fx-scale-x: 0;
}

.list-cell{
    -fx-background-color: #EEE;
    -fx-padding: 15 0 15 0;
}



/*send Money*/
.new_trans_container{
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
    -fx-font-size: 1em;
    -fx-font-family: "Calibri Light";

}

.new_trans_container Label{
    font-family: "Calibri Light";
    fontsize: 1.1em;
}

.new_trans_container TextField{
    -fx-pref-height: 40;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);
}

.new_trans_container Button{
    -fx-background-color: linear-gradient(to-right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #000B58, 3,0,0,3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: white;
}

.new_trans_container Button:hover{
    -fx-cursor: hand;
}

.new_trans_container TextField:hover{
    -fx-border-width: 2px;
    -fx-border-color: #003161;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
}


.button_container{
    -fx-pref-width: 200;
    -fx-text-fill: #ffff;
    -fx-padding: 1;
    -fx-background-color: #132a13;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-alignment: center;
}

.button_container:hover{
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-background-color: #003161;
}