.deposit-container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.3, 0, 2);
}

.search_box {
    -fx-spacing: 10;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 0;
}

.search_box Button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-padding: 5 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
}

.search_box Button:hover {
    -fx-background-color: linear-gradient(to right, #003161, #00213B);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.TextField_container {
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-font-size: 1.3em;
    -fx-background-color: #FFF;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.3, 0, 1);
}

Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25); /* Primary Color Combination */
    -fx-dropshadow: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.3, 0, 2);
    -fx-font-size: 1.6em;
    -fx-text-fill: #FFF;
    -fx-font-family: "Calibri Light";
    -fx-pref-width: 200;
    -fx-border-radius: 8;
    -fx-padding: 10 20;
}

Button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #253F25, #132A13); /* Reversed Gradient */
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 0, 3);
}

.result_box {
    -fx-spacing: 15;
    -fx-padding: 10;
}

.list-view {
    -fx-background-color: #EEE;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.list-cell {
    -fx-background-color: #EEE;
    -fx-padding: 20 10;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.3, 0, 1);
    -fx-transition: background-color 0.3s, transform 0.3s;
}

.list-cell:hover {
    -fx-background-color: #DDDDDD;
    -fx-transform: scale(1.02);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.3, 0, 2);
}
