.cell_container {
    -fx-background-color: #FFF;
    -fx-background-radius: 15; /* Rounded corners for a modern look */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.3, 0, 3);
    -fx-padding: 15;
    -fx-transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cell_container:hover {
    -fx-background-color: #FAFAFA; /* Light hover effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.3, 0, 5);
    -fx-transform: scale(1.02); /* Subtle zoom effect */
}

.trans_icon_container {
    -fx-background-color: #FFF;
    -fx-alignment: center;
    -fx-spacing: 10; /* Improved spacing for clarity */
    -fx-padding: 10;
    -fx-border-radius: 50%; /* Circular icons */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0.3, 0, 1);
}

.trans_icon_container:hover {
    -fx-background-color: #F0F0F0; /* Slight change on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

.trans_date_lbl {
    -fx-text-fill: #888; /* Softer gray for less visual dominance */
    -fx-font-weight: 700;
    -fx-font-size: 0.9em;
    -fx-padding: 5 0;
}

.trans_pAddress_lbl {
    -fx-text-fill: #000;
    -fx-font-weight: 700;
    -fx-font-size: 1em;
    -fx-padding: 5 0;
}

.cell_container Line {
    -fx-stroke: #EEE;
    -fx-stroke-width: 1.5;
}

.trans_amount_lbl {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-background-radius: 5;
    -fx-text-fill: #FFF;
    -fx-padding: 8 12;
    -fx-font-weight: 700;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.3, 0, 2);
    -fx-transition: transform 0.3s, background-color 0.3s;
}

.trans_amount_lbl:hover {
    -fx-background-color: linear-gradient(to right, #253F25, #132A13);
    -fx-transform: scale(1.05);
}

.trans_amount_lbl FontAwesomeIconView {
    -fx-fill: #FFF;
    -fx-font-size: 1.2em;
}

/* Adding transitions and hover effects for smoother interactions */
.cell_container:hover Line {
    -fx-stroke: #DDD; /* Slightly lighter on hover */
    -fx-stroke-width: 2;
}

.message_btn{
    -fx-background-color: #DDD;
}

.message_btn FontAwesomeIconView {
    -fx-fill: #132A13;
}

.message_btn:hover {
    -fx-cursor: hand;
}
